
*{
    margin: 0;
    padding: 0;
}
header{
    background-image:url(image\ 1\ \(2\).png);
    align-items: center;
    justify-content:center;
    padding: 350px 50px;
    background-size: 100% 100%;
    font-size: 450%;
    color: aliceblue;
}
     
section{
    background-image: url(Sem\ título\ 1.png);
    display: flex;
    padding: 400px 100px;
    background-size: 100% 100%;
    font-size: 250%;
}