* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.titulo{
    font-size: 400%;
}

.tulin{
   font-size: 200%;
}

.sozinho{
    font-size: 170%;
}
.porta {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align:left;
    left: 0;
    font-size: 150%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    
}

.espaco{
padding:3% 6% ;
}

.porte {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align:right;
    right: 0;
    font-size: 150%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.janela {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: left;
    left: 0;
    font-size: 150%;
    flex-direction: column;
    display: flex;

}

.janele {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: right;
    right: 0;
    font-size: 150%;
    flex-direction: column;
    display: flex;

}

.colunas{
    display: grid;
    grid-template-columns: 40% 60%;
}
@media screen and (min-width: 1024px) {

}