
*{
    margin: 0;
    padding: 0;
}
header{
    background-image:url(image\ 1\ \(2\).png);
    align-items: center;
    justify-content:center;
    padding: 350px 50px;
    background-size: 100% 100%;
    font-size: 450%;
    color: aliceblue;
    text-align: center;
}
     
section{
    background-image: url(Sem\ título\ 1.png);
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    background-size: 100% 100%;
    font-size: 250%;
    height: 50vw;
    background-color: white;
}

.porta{
    background-color: blueviolet;
    color: black;



}